.contentblock-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

#lead-stories-container {
  margin: 50px 0px 20px 0px;
  width: 100%;
  content: " ";
  display: table;
  background-color: #444;
}

.lead-story {
  padding: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #333;
}
@media(min-width: 992px) {
  .lead-story {
    height: 500px;
  }
}

.lead-story-overlay {
  width: 100%;
  height: 100%;
  background: rgba(68, 68, 68, 0.6);
  transition-duration: 0.25s;
  font-family: Georgia,serif;
}
.lead-story-overlay:hover {
  background: rgba(10, 10, 10, 0.8);
  transition-duration: 0.25s;
}

.lead-story-overlay .lead-story-container .lead-story-title {
  font-size: 32px;
}

@media(min-width: 768px) {
  .lead-story-overlay .lead-story-container .lead-story-title {
    font-size: 48px;
  }
}

.lead-story-overlay .lead-story-container .lead-story-title {
  color: inherit;
  border-bottom: none;
  transition-duration: 0.25s;
}
.lead-story-overlay:hover .lead-story-container .lead-story-title {
  color: #ff0b3a;
  border-bottom: 5px solid #ffff00;
  transition-duration: 0.25s;
}


.lead-story-container {
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  text-align: center;
}
@media(min-width: 992px) {
  .lead-story-container {
    padding-bottom: 40px;
    padding-top: 120px;
    padding-right: 20%;
    padding-left: 20%;
  }
}



body {
  background: #eee;
}

.navbar-default {
  background-color: #444;
  border-color: #333;
}

.navbar-default .navbar-toggle {
  border-color: #666;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: #ff0b3a;
  font-variant: small-caps;
  font-size: 24px;
}

.navbar-default .navbar-brand-tag {
  color: #aaa;
  float: left;
  margin: 0px;
  padding: 15px;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 200;
}

.navbar-default .navbar-nav li a {
  color: #ddd;
  transition-duration: 0.25s;
}
.navbar-default .navbar-nav li a:hover {
  color: #ff0b3a;
  transition-duration: 0.25s;
}

.text a {
  transition-duration: 0.25s;
  color: inherit;
}

.text a, .text a:hover {
  border-bottom: 1px solid #ff0b3a;
  text-decoration: none;
}

.text a:hover {
  transition-duration: 0.25s;
  color: #ff0b3a;
}

.text-special a {
  padding: 2px 0px;
  transition-duration: 0.25s;
  color: #ff0b3a;
}

.text-special a, .text-special a:hover {
  text-decoration: none;
}

.text-special a:hover {
  transition-duration: 0.25s;
  background-color: #fffd8c;
}

a.no-change, a.no-change:hover {
  text-decoration: inherit;
  color: inherit;
