.story {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.storybody {
  font-family: Georgia,serif;
  font-size: 17px;
  line-height: 1.70588235294118;
}

.storybody p {
  margin-bottom: 1.17647058823529em;
}

.storybody a, .storybody a:hover {
  border-bottom: 1px solid #ff0b3a;
  text-decoration: none;
}

.storybody a {
  color: inherit;
}

.storybody a:hover {
  color: #ff0b3a;
}

.storybox {
  background: #fff;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.storybox, .storybox:after {
  clear: both;
}

.storybox:before, .storybox:after {
  content: " ";
  display: table;
}

.storybox-image {
  float: right;
  width: 41.667%;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.storybox-info {
  float: left;
  width: 58.333%;
  padding-right: 15px;
  margin-bottom: 15px;
}

.storybox-info h3 {
  margin-top: 0px;
  font-size: 20px;
}

.storybox-info a {
  color: black;
}

.storybox-info.noimage {
  width: 100%;
  padding-right: 0px;
  min-height: 220px;
}

.outlet-slug {
  font-size: 14px;
  color: #757575;
}

.storybox-teaser {
  color: #757575;
  font-size: 15px;
}

.image-caption {
  color: #757575;
  display: block;
}

.image-caption p {
  padding-top: 12px;
  margin-bottom: 2px;
}

.story-image .image-credit {
  display: block;
  text-align: left;
  color: #757575;
  font-style: italic;
  font-size: 11px;
}

.storybox-image .image-credit {
  display: block;
  text-align: right;
  color: #757575;
  font-style: italic;
  font-size: 11px;
}

.storyboxes-list {
  max-width: 820px;
}

.story-image {
  margin-bottom: 40px;
}

.story-info {
  color: #757575;
  margin-bottom: 20px;
}

.outlet-banner {
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.outlet-logo {
  margin-bottom: 15px;
}

.outlet-blurb {
  color: #757575;
  font-size: 17px;
}

.outlet-dashboard {
  border-top: 1px solid #e0e0e0;
  margin-top: 20px;
  padding-top: 18px;
  color: #757575;
  font-size: 14px;
}

.dashboard-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
