{% extends "portfolio/base.html" %}

{% load static %}
{% load dataviz_tags %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/project_detail.css' %}">
{% endblock %}

{% block content %}
  <div class="story">

    <div class="story-title">
      <h1 id="story-title" class="page-header">{{ project.title }}</h1>
    </div>

    <div class="storybody text">
      {% render_this project.text %}
    </div>

    <div class="storyend">
      <img src="{% static 'base/slant_favicon_333.svg' %}">
    </div>

    <div class="backbutton">
      <p><a class="btn btn-default" href="{% url 'portfolio:index' %}" role="button">
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="glyphicon glyphicon-menu-left"></span></a>
      </p>
    </div>
  </div>


{% endblock %}
