{% extends "dataviz/base.html" %}

{% load static %}
{% load dataviz_tags %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'dataviz/story_detail.css' %}">
{% endblock %}

{% block content %}
  <div class="story">

    <div class="story-title">
      <h1 id="story-title" class="page-header">{{ story.title }}</h1>
    </div>

    <div class="story-info">
      {% if story.story_date %}
        <p>{{ story.storyDateString }} &bull; {{ story.storyTimeString }}</p>
      {% endif %}
      {% if story.byline %}
        <p>{{ story.bylineName }}</p>
      {% endif %}
    </div>

    {% if not story.pull_quotes is None  and story.pull_quotes %}
      {% for quote in story.pull_quotes.all %}
        <div class="storyquote">
          <p><blockquote>{{ quote.text }}</blockquote></p>
          <p><small>{{ quote.person }}<small></p>
        </div>
      {% endfor %}
    {% endif %}

    <div class="storybody text">
      {% render_this story.text %}
    </div>

    <div class="storyend">
      <img src="{% static 'base/slant_favicon_333.svg' %}">
    </div>

    <div class="backbutton">
      <p><a class="btn btn-default" href="{% url 'dataviz:index' %}" role="button">
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="glyphicon glyphicon-menu-left"></span></a>
      </p>
    </div>
  </div>


{% endblock %}
