{% extends "feed/base.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'base/outlet_banner.css' %}">
{% endblock %}
  
{% block content %}

  <div class="col-md-8">
    <div class="stream">
      {% if tweets_list %}
        
        {% for tweet in tweets_list %}

          <div class="row tweet-row">
            <div class="col-md-12">
              {% autoescape off %}
              {{ tweet.html }}
              {% endautoescape %}
            </div>
          </div>

        {% endfor %}

      {% else %}
        <div class="storybox" id="nothingnew">
          <h2>No new tweets.</h2>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="outlet-banner">

          <div class="outlet-logo">
            <img src="{% static 'base/slant_favicon_red.svg' %}" class="img" width="50%">
          </div>

          <div class="outlet-blurb">
            <p class="lead text-special">
            The <strong>Feed</strong> displays recent tweets from a few
            accounts I find interesting. Currently, those include
            <a href="https://twitter.com/nytgraphics">@nytgraphics</a>,
            <a href="https://twitter.com/WSJGraphics">@WSJGraphics</a>,
            <a href="https://twitter.com/MarshallProj">@MarshallProj</a>,
            and <a href="https://twitter.com/jacobinmag">@jacobinmag</a>.
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>

{% endblock %}
