{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


  <form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {% if form.errors %}
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Oops.</strong> Your username and password did not match.
        Please try again.
      </div>
    {% endif %}

    {% load widget_tweaks %}
    {% render_field form.username class="form-control" placeholder="Username" %}
    {% render_field form.password class="form-control" placeholder="Password" %}

    {% if next %}
      <input type="hidden" name="next" value="{{ next }}"/>
    {% else %}
      <input type="hidden" name="next" value="{% url 'forum:index' %}"/>
    {% endif %}

    <button class="btn btn-default btn-block" id="login-button" type="submit">
      Sign In
    </button>
  </form>

{% endblock %}
