{% extends 'comics/base.html' %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'base/outlet_banner.css' %}">
{% endblock %}

{% block content %}

  <div class="comic-area">

    <div class="row">
      <div class="col-md-12">
        <div class="outlet-banner">
          <div class="outlet-logo">
            <a href="http://xkcd.com/"><img src="{% static 'comics/xkcd_banner_crop.png' %}" class="img" width="100%"></a>
          </div>
          <div class="outlet-blurb">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="comic-wrapper" id="comic-wrapper">
          {% include 'comics/comic.html' with comic=comic %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="dashboard-button">
          <a class="btn btn-default btn-block"
            href="http://www.explainxkcd.com/{{ comic.num }}" target="_blank">Explain xkcd</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="dashboard-button" id="random_button" ajax-update-url="{% url 'comics:get_random' %}">
          <a class="btn btn-default btn-block" onClick="ajaxUpdateComicRandom()">
            <span class="glyphicon glyphicon-random"></span>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard-button" id="latest_button" ajax-update-url="{% url 'comics:check_for_new' %}">
          <a class="btn btn-default btn-block" onClick="ajaxUpdateComicLatest()">
            <span class="glyphicon glyphicon-fast-forward"></span>
          </a>
        </div>
      </div>
    </div>

  </div>
  
{% endblock %}

{% block scripts %}
  <script>
    function ajaxUpdateComicRandom() {
      $.ajax({
        url: $("#random_button").attr("ajax-update-url"),
        data: {},
        dataType: 'html',
        success: function (data) {
          $("#comic-wrapper").html(data);
        }
      });
    }

    function ajaxUpdateComicLatest() {
      $.ajax({
        url: $("#latest_button").attr("ajax-update-url"),
        data: {},
        dataType: 'html',
        success: function (data) {
          $("#comic-wrapper").html(data);
        }
      });
    }
  </script>
{% endblock %}
