.comic-area {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.comic-wrapper {
  background: #fff;
  margin-top: 15px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  border: 1px solid #e0e0e0;
  margin-bottom: 40px;
}

.comic-title h2 {
  font-variant: small-caps;
}

.comic-image {
  margin-top: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

.outlet-banner {
  background: #fff;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
}

.outlet-logo {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.dashboard-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
